---
# tasks file for fubarhouse.sublime-drupal

- include_vars: "vars-{{ ansible_distribution }}.yml"
  when: STDir is undefined

- name: Sublime | Detecting installation
  stat:
    path: "{{ STDir }}/Package Control"
  register: packagecontroldir

- name: Sublime | Detecting user directory
  stat:
    path: "{{ STDir }}/{{ STPackagesDir }}/{{ STUserDir }}"
  register: packageuserdir

- name: Sublime | Install Package Control
  git:
    repo: "https://github.com/wbond/sublime_package_control.git"
    dest: "{{ STDir }}/Package Control"
    clone: yes
    update: yes
    force: yes
    accept_hostkey: yes

- name: Sublime | Install DrupalSublimeConfig
  git:
    repo: "https://github.com/enzolutions/drupal-sublime-config.git"
    dest: "{{ STDir }}/{{ STUserDir }}/DrupalSublimeConfig"
    clone: yes
    update: yes
    force: yes
    accept_hostkey: yes

- name: Sublime | Install Packages
  git:
    repo: "{{ item.repository }}"
    dest: "{{ STDir }}/{{ STPackagesDir }}/{{ item.name }}"
    clone: yes
    update: yes
    force: yes
    accept_hostkey: yes
  with_items: "{{ STPackages }}"

- name: Sublime | Ensure user settings files exist
  file:
    path: "{{ STDir }}/{{ STUserDir }}/DrupalSublimeConfig/{{ item }}.sublime-settings"
    mode: 0755
    state: touch
  with_items:
    - PHP
    - Preferences
    - SublimeLinter
    - GitGutter
    - Highlighter
    - MacTerminal

- name: Sublime | Backup user settings
  copy:
    src: "{{ STDir }}/{{ STUserDir }}/DrupalSublimeConfig/{{ item }}.sublime-settings"
    dest: "{{ STDir }}/{{ STUserDir }}/DrupalSublimeConfig/{{ item }}.sublime-settings.bak"
  with_items:
    - PHP
    - Preferences
    - SublimeLinter
    - GitGutter
    - Highlighter
    - MacTerminal
  when: packagecontroldir.stat.isdir is defined and packagecontroldir.stat.isdir

- name: Sublime | Link user preferences
  file:
    src: "{{ STDir }}/{{ STUserDir }}/DrupalSublimeConfig/{{ item }}.sublime-settings"
    dest: "{{ STDir }}/{{ STPackagesDir }}/{{ STUserDir }}/{{ item }}.sublime-settings"
    state: link
    force: yes
  with_items:
    - PHP
    - Preferences
    - SublimeLinter
    - GitGutter
    - Highlighter
    - MacTerminal
  when: packageuserdir.stat.isdir is defined and packageuserdir.stat.isdir

- name: Sublime | Install Soda
  git:
    repo: "https://github.com/buymeasoda/soda-theme.git"
    dest: "{{ STDir }}/{{ STPackagesDir }}/Theme - Soda"
    clone: yes
    update: yes
    force: yes
    accept_hostkey: yes

- name: Sublime | Download Soda color schemes
  get_url:
    url: "https://buymeasoda.github.com/soda-theme/extras/colour-schemes.zip"
    dest: "{{ STDir }}/{{ STPackagesDir }}/Theme - Soda/colour-schemes.zip"
    force: no

- name: Sublime | Install Soda color schemes
  unarchive:
    src: "{{ STDir }}/{{ STPackagesDir }}/Theme - Soda/colour-schemes.zip"
    dest: "{{ STDir }}/{{ STPackagesDir }}/Theme - Soda/"

- name: Sublime | Delete Soda color schemes download
  file:
    path: "{{ STDir }}/{{ STPackagesDir }}/Theme - Soda/colour-schemes.zip"
    state: absent

- name: Sublime | Look for PHP Code sniffer
  shell: which phpcs
  register: which_phpcs

- name: Sublime | Link PHP Code sniffer
  file:
    src: "{{ which_phpcs.stdout }}"
    dest: "{{ STDir }}/{{ STPackagesDir }}/DrupalCodingStandard/phpcs"
    state: link
  when: which_phpcs.stdout.find('phpcs') != -1